.main-section {
  max-width: 950px;
  padding: 20px;
  margin: 0 auto;
  font-family: "Days One";
  height: 85vh;
  margin-bottom: 100px;
}

.skills-section {
  height: 73vh;
}

.head-section {
  text-align: center;
  line-height: 5px;
  padding-top: 20px;
}

.about-me-section {
  display: flex;
  text-align: left;
  margin: 100px 0 100px 0;
  font-size: 25px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 15px solid #ff006e;
}

.arrow-down:hover {
  cursor: pointer;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 15px solid #ff006e;
}

.arrow-up:hover {
  cursor: pointer;
}

#go-to-projects {
  padding-top: 100px;
  margin: 0 auto;
}

#projects-section {
  height: 100vh;
}

.hello {
  font-size: 25px;
  padding-bottom: 50px;
}

.natan {
  font-weight: 800;
  color: #ff006e;
  font-size: 45px;
}

.title {
  text-align: center;
  font-size: 27px;
}

.tech-stack-lists {
  display: flex;
}

li {
  list-style-type: none;
}

.tech-logo {
  width: 60px;
  margin: 0 10px 0 10px;
  filter: grayscale(100%);
}

#typescript-logo {
  width: 100px;
}

#dart-logo {
  width: 100px;
}

#hybris-logo {
  width: 115px;
}

#spring-logo {
  width: 115px;
}

#tech-info {
  display: block;
  border: black 1px solid;
  border-radius: 10%;
  padding: 15px;
}

.email {
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: black 1px solid;
  padding-top: 10px;
  height: 100px;
  background-color: #1d212c;
  color: aliceblue;
}

.deg0 {
  transform: translate(6em);
} /* 6em = half the width of the wrapper */
.deg45 {
  transform: rotate(45deg) translate(6em) rotate(-45deg);
}
.deg135 {
  transform: rotate(135deg) translate(6em) rotate(-135deg);
}
.deg180 {
  transform: translate(-6em);
}
.deg225 {
  transform: rotate(225deg) translate(6em) rotate(-225deg);
}
.deg315 {
  transform: rotate(315deg) translate(6em) rotate(-315deg);
}

.center {
  font-size: 10px;
  text-align: center;
  padding: 0;
  line-height: 0.5;
}

.tech-stack-section {
  display: flex;
}

.header-link {
  text-decoration: none;
}

#github-url {
  color: #ff006e;
}
#linkedin-url {
  color: #2a9d8f;
}

#skills {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

#experience {
  font-size: 20px;
  font-weight: bold;
  line-height: 2em;
}

.company-name {
  color: #447a9a;
}

.company-position {
  margin-top: -20px;
  font-size: 15px;
}

.year-experience {
  float: right;
  font-size: 15px;
}

.skills-section {
  padding-top: 80px;
  max-width: 1000px;
  margin: 0 auto;
}

.tech-relation-1 {
  color: #ff006e;
}

.tech-relation-2 {
  color: #2a9d8f;
}

.tech-relation-3 {
  color: #457b9d;
}

.tech-relation-4 {
  color: #f4a261;
}

.tech-relation-5 {
  color: #007bba;
}

.tech-relation-6 {
  color: #b56576;
}

#projects-section {
  margin: 0 auto;
  width: 1000px;
}

.projects-h2 {
  text-align: center;
  color: #2a9d8f;
}

.project-name.aos-init.aos-animate {
  color: #007bba;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

img {
  height: 50px;
  border-radius: 50%;
  padding: 2px;
}

.project {
  text-align: center;
  border: 1px white dashed;
  margin: 25px;
  border-radius: 20px;
}

.project:hover {
  background-color: #175873;
}

.back-to-the-top {
  text-align: center;
}

.project-name {
  font-weight: bold;
}

.projects-h2.aos-init.aos-animate {
  color: #f4a261;
  font-size: 40px;
  line-height: 0;
}

.projects-all-description {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#go-to-experience {
  display: none;
}

@media only screen and (max-width: 455px) {


  .contact-links {
    display: grid;
    text-align: center;
  }

  .natan {
    font-size: 20px;
  }

  .hello.aos-init.aos-animate {
    font-size: 20px;
  }

  .about-me-section {
    font-size: 13px;
    text-align: center;
  }

  .skills-section {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 649px) {
  .main-section {
    height: 88vh;
  }

  #skills {
    display: block;
  }

  .about-me-section {
    margin: 100px 0 40px 0;
  }

  ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  h2 {
    text-align: center;
  }

  #go-to-experience {
    display: block;
  }

  #projects-section {
    margin-top: 535px;
  }

  #experience {
    text-align: center;
  }

  .year-experience {
    display: block;
    float: none;
  }

  #experience-section {
    padding-top: 40px;
  }

  .skills-section {
    padding-top: 30px;
  }

  #go-to-experience {
    padding-top: 33px;
  }

  .back-to-the-top {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 1024px) {
  #projects-section {
    width: auto;
  }
}

@media only screen and (max-width: 414px) {
  #projects-section {
    margin-top: 620px;
  }
}

@media only screen and (max-width: 320px) {
  #projects-section {
    margin-top: 720px;
  }
}

@media screen and (min-width:320px) and (orientation:landscape) {
/* @media screen and (max-width: 320px) and (orientation:landscape) { */
  #projects-section {
    margin-top: 910px!important;
  }
}


@media only screen and (orientation:landscape) {
  #projects-section {
    margin-top: 320px;
  }
}
