<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Days One"
      rel="stylesheet"
    />
  </head>
  <title>Test</title>
  <meta charset="UTF-8" />

  <body>
    <div class="main-section">
      <div>github | linkedin</div>
      <div class="head-section">
        <h1 class="title">Natan Portilho</h1>
        <h3>Software Engineer</h3>
      </div>
      <div class="about-me-section">
        <h2>About</h2>
        <span>
          Hi there! I'm Natan Portilho, a software engineer from Brazil.
        </span>
      </div>
      <h3 class="title">Tech Stack</h3>
      <div class="tech-stack-lists">
        <div class="tech-stack-left">
          <ul class="tech-stack-list">
            <li>
              <img
                (mouseenter)="mouseEnter('java')"
                (mouseleave)="mouseLeave()"
                class="tech-logo"
                src="assets/java-logo.png"
                alt="image"
              />
            </li>
            <li>
              <img
                (mouseenter)="mouseEnter('dart')"
                (mouseleave)="mouseLeave()"
                id="dart-logo"
                class="tech-logo"
                src="assets/dart-logo.png"
                alt="image"
              />
            </li>
            <li>
              <img
                (mouseenter)="mouseEnter('spring')"
                (mouseleave)="mouseLeave()"
                id="spring-logo"
                class="tech-logo"
                src="assets/spring-logo.png"
                alt="image"
              />
            </li>
            <li>
              <img
                (mouseenter)="mouseEnter('angular')"
                (mouseleave)="mouseLeave()"
                class="tech-logo"
                src="assets/angular-logo.png"
                alt="image"
              />
            </li>
            <li>
              <img
                (mouseenter)="mouseEnter('hybris')"
                (mouseleave)="mouseLeave()"
                id="hybris-logo"
                class="tech-logo"
                src="assets/hybris-logo.jpeg"
                alt="image"
              />
            </li>
            <li>
              <img
                (mouseenter)="mouseEnter('typescript')"
                (mouseleave)="mouseLeave()"
                id="typescript-logo"
                class="tech-logo"
                src="assets/typescript-logo.png"
                alt="image"
              />
            </li>
          </ul>
        </div>
      </div>
      <div id="tech-info">
        Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica
        e de impressos, e vem sendo utilizado desde o século XVI, quando um
        impressor desconhecido pegou uma bandeja de tipos e os embaralhou para
        fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco
        séculos, como também ao salto para a editoração eletrônica, permanecendo
        essencialmente inalterado. Se popularizou na década de 60, quando a
        Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais
        recentemente quando passou a ser integrado a softwares de editoração
        eletrônica como Aldus PageMaker.
      </div>
    </div>
  </body>
</html>
