body {
  color: #1d212c;
}
.main-section {
  max-width: 950px;
  padding: 20px;
  margin: 0 auto;
  font-family: "Days One";
}

.head-section {
  text-align: center;
  line-height: 5px;
}

.about-me-section {
  text-align: left;
  margin: 100px 0 100px 0;
}

.natan {
  font-weight: 800;
}

.title {
  text-align: center;
}

.tech-stack-lists {
  display: flex;
}

li {
  list-style-type: none;
}

.tech-logo {
  width: 60px;
  margin: 0 10px 0 10px;
  filter: grayscale(100%);
}

#typescript-logo {
  width: 100px;
}

#dart-logo {
  width: 100px;
}

#hybris-logo {
  width: 115px;
}

#spring-logo {
  width: 115px;
}

#tech-info {
  display: block;
  border: black 1px solid;
  border-radius: 10%;
  padding: 15px;
}

.email {
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: black 1px solid;
  padding-top: 10px;
  height: 100px;
  background-color: #1d212c;
  color: aliceblue;
}

.circle-container {
  position: relative;
  width: 5em;
  height: 5em;
  padding: 1.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  /* border: dashed 1px; */
  border-radius: 50%;
  margin: 1.75em auto 0;
}
.circle-container a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4em;
  height: 4em;
  margin: -2em;
}
.circle-container img {
  display: block;
  width: 100%;
}

.circle-container .css-logo{
  width: 42px;
}

.circle-container .ts-logo{
  width: 40px;
}

.deg0 {
  transform: translate(6em);
} /* 6em = half the width of the wrapper */
.deg45 {
  transform: rotate(45deg) translate(6em) rotate(-45deg);
}
.deg135 {
  transform: rotate(135deg) translate(6em) rotate(-135deg);
}
.deg180 {
  transform: translate(-6em);
}
.deg225 {
  transform: rotate(225deg) translate(6em) rotate(-225deg);
}
.deg315 {
  transform: rotate(315deg) translate(6em) rotate(-315deg);
}

.center {
  font-size: 10px;
  text-align: center;
  padding: 0;
  line-height: 0.5;
}

.first-circle {
  float: left;
  margin-left: 40px;
}

.third-circle {
  float: right;
  margin-right: 40px;
}

.tech-stack-section {
  display: flex;
}
