<!DOCTYPE html>
<div class="main-section" id="main">
  <div data-aos="fade-left" data-aos-delay="1200">
    <span
      ><a
        class="header-link"
        id="github-url"
        target="_blank"
        href="https://github.com/natanportilho"
        >github</a
      >
      |
      <a
        class="header-link"
        id="linkedin-url"
        target="_blank"
        href="https://www.linkedin.com/in/natanportilho/"
        >linkedin</a
      >
    </span>
    <span class="email"
      ><a href="mailto: natanportilho@outlook.com"
        >natanportilho@outlook.com</a
      ></span
    >
  </div>

  <div class="head-section" data-aos="fade-in" data-aos-delay="200">
    <h1 class="title">Natan Portilho</h1>
    <h3>Software Engineer</h3>
  </div>
  <div class="about-me-section">
    <h2>
      <p class="hello" data-aos="fade-right" data-aos-delay="300">
        Hi there!
      </p>
      <p data-aos="fade-left" data-aos-delay="500">
        I'm <span class="natan">Natan Portilho</span> , a software engineer from
        Brazil. Please feel free to take a look around.
      </p>
    </h2>
  </div>
  <div class="go-down" data-aos="fade-up" data-aos-delay="1000">
    <a href="#skill-section" class="arrow-down"></a>
  </div>
</div>
<div class="skills-section" id="skill-section">
  <h2 data-aos="fade-right" data-aos-delay="300" data-aos-once="true">
    Skills
  </h2>
  <div id="skills">
    <ul data-aos="fade-up" data-aos-delay="500" data-aos-once="true">
      <li class="tech-relation-1">Java</li>
      <li class="tech-relation-2">Javascript</li>
      <li class="tech-relation-2">Typescript</li>
      <li class="tech-relation-3">Dart</li>
      <li>SQL</li>
      <li class="tech-relation-2">HTML + CSS</li>
    </ul>
    <ul data-aos="fade-up" data-aos-delay="600" data-aos-once="true">
      <li class="tech-relation-1">Hybris Commerce</li>
      <li class="tech-relation-1">Spring</li>
      <li class="tech-relation-3">Flutter</li>
      <li class="tech-relation-2">Angular</li>
      <li class="tech-relation-4">Selenium</li>
    </ul>
    <ul data-aos="fade-up" data-aos-delay="700" data-aos-once="true">
      <li class="tech-relation-5">Git and Github</li>
      <li class="tech-relation-2">VS Code</li>
      <li class="tech-relation-1">Intellij IDEA</li>
      <li class="tech-relation-5">Terminal + zsh</li>
      <li class="tech-relation-6">Slack</li>
      <li class="tech-relation-6">Jira</li>
    </ul>
    <ul data-aos="fade-up" data-aos-delay="800" data-aos-once="true">
      <li class="tech-relation-4">Scrum</li>
      <li class="tech-relation-4">Desing Patterns</li>
      <li class="tech-relation-4">Unit and Integration testing</li>
      <li class="tech-relation-4">Clean code design</li>
    </ul>
  </div>
  <h2 data-aos="fade-right" data-aos-delay="1000" data-aos-once="true">
    Experience
  </h2>
  <div id="experience">
    <ul>
      <li data-aos="fade-left" data-aos-delay="1000" data-aos-once="true">
        <span class="company-name">SAP</span>
        <span class="year-experience">2016 - PRESENT</span>
        <p class="company-position">Software Engineer</p>
      </li>
      <li data-aos="fade-left" data-aos-delay="1000" data-aos-once="true">
        <span class="company-name">University of Peensylvania</span>
        <span class="year-experience">2 months - 2016</span>
        <p class="company-position">Research Assistant</p>
      </li>
      <li data-aos="fade-left" data-aos-delay="1000" data-aos-once="true">
        <span class="company-name">GOPER</span>
        <span class="year-experience">June 2014 - June 2015</span>
        <p class="company-position">Support Engineer</p>
      </li>
    </ul>
  </div>

  <div class="go-down" id="go-to-projects">
    <a href="#projects-section" class="arrow-down"></a>
  </div>
</div>

<div id="projects-section">
  <div class="projects-h2">
    <h2 class="projects-h2" data-aos="fade-down" data-aos-delay="300">
      Projects
    </h2>
    <div class="project-name" data-aos="fade-down" data-aos-delay="300">
      These are some projects I like to spend my free time with
    </div>
  </div>
  <div id="projects">
    <div
      class="project"
      id="task-manager"
      data-aos="fade-down"
      data-aos-delay="400"
    >
      <a href="https://github.com/natanportilho/task-manager" target="_blank">
        <p class="project-name">Task Manager</p>
        <p>A beautiful todo app built with Flutter</p>
        <div class="circle">
          <img src="assets/flutter-logo.png" />
        </div>
      </a>
    </div>
    <div
      class="project"
      id="code-visualizaiton"
      data-aos="fade-down"
      data-aos-delay="500"
    >
      <a
        href="https://natanportilho.github.io/code-visualization/"
        target="_blank"
      >
        <p class="project-name">Code Visualization</p>
        <p>
          An Angular application to check the steps taken by some of the most
          popular sorting algorithms
        </p>
        <div class="circle">
          <img src="assets/angular-logo.png" />
        </div>
      </a>
    </div>
    <div class="project" id="more" data-aos="fade-down" data-aos-delay="600">
      <a href="https://github.com/natanportilho" target="_blank">
        <p class="project-name">More...</p>
        <p>Checkout my github</p>
        <div class="circle">
          <img src="assets/github-logo.png" />
        </div>
      </a>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="back-to-the-top">
    <a href="#main" class="arrow-up"></a>
  </div>
</div>
<!-- <footer class="footer">
      Show some footer information here
    </footer> -->
