<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Days One"
      rel="stylesheet"
    />
  </head>
  <meta charset="UTF-8" />
  <body>
    <div class="main-section">
      <span
        ><a
          class="header-link"
          id="github-url"
          target="_blank"
          href="https://github.com/natanportilho"
          >github</a
        >
        |
        <a
          class="header-link"
          id="linkedin-url"
          target="_blank"
          href="https://www.linkedin.com/in/natanportilho/"
          >linkedin</a
        >
      </span>
      <span class="email">natanportilho@outlook.com</span>

      <div class="head-section">
        <h1 class="title">Natan Portilho</h1>
        <h3>Software Engineer</h3>
      </div>
      <div class="about-me-section">
        <h2>
          <p class="hello">Hi there!</p>
          I'm <span class="natan">Natan Portilho</span> , a software engineer
          from Brazil. Please feel free to take a look around.
        </h2>
      </div>
      <div class="go-down">
        <a href="#skill-section" class="arrow-down"></a>
      </div>

      
      <!-- <div class="holder">
        
      </div> -->

      <!-- <h3>Skills</h3>

      <div class="tech-stack-section">
        <div class="circle-container first-circle">
          <span class="center">
            <p>Java</p>
            <p>Typescript</p>
            <p>Javascript</p>
            <p>SQL</p>
            <p>HTML + CSS</p>
            <p>Dart</p>
          </span>
          <a href="#" class="deg0"><img src="assets/java-logo.png" /></a>
          <a href="#" class="deg45"><img src="assets/dart-logo.png" /></a>
          <a href="#" class="deg135"><img class="ts-logo" src="assets/ts-logo.png" /></a>
          <a href="#" class="deg180"><img class="css-logo" src="assets/css-logo.png" /></a>
          <a href="#" class="deg225"><img src="assets/html-logo.png" /></a>
          <a href="#" class="deg315"><img src="assets/javascript-logo.png" /></a>
        </div>

        <div class="circle-container second-circle">
          <span class="center">
            <p>Spring</p>
            <p>Hybris</p>
            <p>Flutter</p>
            <p>Angular</p>
          </span>
          <a href="#" class="deg0"><img src="assets/dart-logo.png" /></a>
          <a href="#" class="deg45"><img src="assets/dart-logo.png" /></a>
          <a href="#" class="deg135"><img src="assets/dart-logo.png" /></a>
          <a href="#" class="deg180"><img src="assets/dart-logo.png" /></a>
          <a href="#" class="deg225"><img src="assets/dart-logo.png" /></a>
          <a href="#" class="deg315"><img src="assets/dart-logo.png" /></a>
        </div>

        <div class="circle-container third-circle">
          <span class="center">
            <p>Git & Github</p>
            <p>VS Code</p>
            <p>Intellij IDEA</p>
            <p>Postman</p>
            <p>Terminal</p>
          </span>
          <a href="#" class="deg0"><img src="assets/dart-logo.png" /></a>
          <a href="#" class="deg45"><img src="assets/dart-logo.png" /></a>
          <a href="#" class="deg135"><img src="assets/dart-logo.png" /></a>
          <a href="#" class="deg180"><img src="assets/dart-logo.png" /></a>
          <a href="#" class="deg225"><img src="assets/dart-logo.png" /></a>
          <a href="#" class="deg315"><img src="assets/dart-logo.png" /></a>
        </div>
      </div>
      <br /> -->

      <!-- <h3>Experience</h3>
      <ul>
        <li>
          SAP - Software Engineer - September 2016 - PRESENT
        </li>
        <li>University Of Pennsylvania - Research Assitant</li>
        <li>GOPER - Support</li>
      </ul>

      <h3>My projects</h3>

      <ul>
        <li>
          Task Manager - Flutter
        </li>
        <li>Code Visualization - Angular</li>
      </ul> -->

      <!-- <div class="tech-stack-lists">
        <div class="tech-stack-left"> -->
      <!-- <ul class="tech-stack-list">
            <li>
              <img
                (mouseenter)="mouseEnter('java')"
                (mouseleave)="mouseLeave()"
                class="tech-logo"
                src="assets/java-logo.png"
                alt="image"
              />
            </li>
            <li>
              <img
                (mouseenter)="mouseEnter('dart')"
                (mouseleave)="mouseLeave()"
                id="dart-logo"
                class="tech-logo"
                src="assets/dart-logo.png"
                alt="image"
              />
            </li>
            <li>
              <img
                (mouseenter)="mouseEnter('spring')"
                (mouseleave)="mouseLeave()"
                id="spring-logo"
                class="tech-logo"
                src="assets/spring-logo.png"
                alt="image"
              />
            </li>
            <li>
              <img
                (mouseenter)="mouseEnter('angular')"
                (mouseleave)="mouseLeave()"
                class="tech-logo"
                src="assets/angular-logo.png"
                alt="image"
              />
            </li>
            <li>
              <img
                (mouseenter)="mouseEnter('hybris')"
                (mouseleave)="mouseLeave()"
                id="hybris-logo"
                class="tech-logo"
                src="assets/hybris-logo.jpeg"
                alt="image"
              />
            </li>
            <li>
              <img
                (mouseenter)="mouseEnter('typescript')"
                (mouseleave)="mouseLeave()"
                id="typescript-logo"
                class="tech-logo"
                src="assets/typescript-logo.png"
                alt="image"
              />
            </li>
          </ul> -->
      <!-- </div> -->
    </div>

    <div class="skills-section" id="skill-section">
      <h2>Skills</h2>
      <div id="skills">
        <ul>
          <li class="tech-relation-1">Java</li>
          <li class="tech-relation-2">Javascript</li>
          <li class="tech-relation-2">Typescript</li>
          <li class="tech-relation-3">Dart</li>
          <li>SQL</li>
          <li class="tech-relation-2">HTML + CSS</li>
        </ul>

        <ul>
          <li class="tech-relation-1">Hybris Commerce</li>
          <li class="tech-relation-1">Spring</li>
          <li class="tech-relation-3">Flutter</li>
          <li class="tech-relation-2">Angular</li>
          <li class="tech-relation-4">Selenium</li>
        </ul>

        <ul>
          <li class="tech-relation-5">Git and Github</li>
          <li class="tech-relation-2">VS Code</li>
          <li class="tech-relation-1">Intellij IDEA</li>
          <li class="tech-relation-5">Terminal + zsh</li>
          <li class="tech-relation-6">Slack</li>
          <li class="tech-relation-6">Jira</li>
        </ul>

        <ul>
          <li class="tech-relation-4">Scrum</li>
          <li class="tech-relation-4">Desing Patterns</li>
          <li class="tech-relation-4">Unit and Integration testing</li>
          <li class="tech-relation-4">Clean code design</li>
        </ul>
      </div>

      <h2>Experience</h2>
      <div id="experience">
        <ul>
          <li>
            <span class="company-name">SAP</span>
            <span class="year-experience">2016 - PRESENT</span>
            <p class="company-position">Software Engineer</p>
          </li>
          <li>
            <span class="company-name">University of Peensylvania</span>
            <span class="year-experience">2 months - 2016</span>
            <p class="company-position">Research Assistant</p>
          </li>
          <li>
            <span class="company-name">GOPER</span>
            <span class="year-experience">June 2014 - June 2015</span>
            <p class="company-position">Support</p>
          </li>
        </ul>
      </div>
    </div>
    <!-- </div> -->

    <!-- <footer class="footer">
      Show some footer information here
    </footer> -->
  </body>
</html>
