body {
  color: white;
}

html {
  margin: 0;
  padding: 0;
  /* background-color: #FFCC00; */
  background-color: #1d212c;
  /* height: 200vh; */
}

.main-section {
  max-width: 950px;
  padding: 20px;
  margin: 0 auto;
  font-family: "Days One";
  height: 100vh;
}

.skills-section {
  height: 100vh;
}

.head-section {
  text-align: center;
  line-height: 5px;
}

.about-me-section {
  display: flex;
  text-align: left;
  margin: 100px 0 100px 0;
  font-size: 25px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 15px solid #ff006e;
}

.arrow-down:hover {
  cursor: pointer;
}

.go-down {
  border-radius: 24%;
  padding: 15px 10px 15px 10px;
  width: min-content;
  text-align: center;
}

#go-to-projects {
  padding-top: 100px;
  margin: 0 auto;
}

#projects-section {
  height: 100vh;
}

.hello {
  font-size: 25px;
}

.natan {
  font-weight: 800;
  color: #ff006e;
  font-size: 45px;
}

.title {
  text-align: center;
}

.tech-stack-lists {
  display: flex;
}

li {
  list-style-type: none;
}

.tech-logo {
  width: 60px;
  margin: 0 10px 0 10px;
  filter: grayscale(100%);
}

#typescript-logo {
  width: 100px;
}

#dart-logo {
  width: 100px;
}

#hybris-logo {
  width: 115px;
}

#spring-logo {
  width: 115px;
}

#tech-info {
  display: block;
  border: black 1px solid;
  border-radius: 10%;
  padding: 15px;
}

.email {
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: black 1px solid;
  padding-top: 10px;
  height: 100px;
  background-color: #1d212c;
  color: aliceblue;
}

.deg0 {
  transform: translate(6em);
} /* 6em = half the width of the wrapper */
.deg45 {
  transform: rotate(45deg) translate(6em) rotate(-45deg);
}
.deg135 {
  transform: rotate(135deg) translate(6em) rotate(-135deg);
}
.deg180 {
  transform: translate(-6em);
}
.deg225 {
  transform: rotate(225deg) translate(6em) rotate(-225deg);
}
.deg315 {
  transform: rotate(315deg) translate(6em) rotate(-315deg);
}

.center {
  font-size: 10px;
  text-align: center;
  padding: 0;
  line-height: 0.5;
}

.tech-stack-section {
  display: flex;
}

.header-link {
  text-decoration: none;
}

#github-url {
  color: #ff006e;
}
#linkedin-url {
  color: #2a9d8f;
}

#skills {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

#experience {
  font-size: 20px;
  font-weight: bold;
  line-height: 2em;
}

.company-name {
  color: #447a9a;
}

.company-position {
  margin-top: -20px;
  font-size: 15px;
}

.year-experience {
  float: right;
  font-size: 15px;
}

.skills-section {
  padding-top: 80px;
  max-width: 1000px;
  margin: 0 auto;
}

.tech-relation-1 {
  color: #ff006e;
}

.tech-relation-2 {
  color: #2a9d8f;
}

.tech-relation-3 {
  color: #457b9d;
}

.tech-relation-4 {
  color: #f4a261;
}

.tech-relation-5 {
  color: #007bba;
}

.tech-relation-6 {
  color: #b56576;
}

#projects-section {
  margin: 0 auto;
  width: 1000px;
  padding-top: 80px;
}

.projects-h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

img {
  height: 50px;
  /* background-color: white; */
  border-radius: 50%;
  padding: 2px;
}

.project {
  text-align: center;
  border: 1px white dashed;
  margin: 25px;
}
