.main-section {
  max-width: 950px;
  padding: 20px;
  margin: 0 auto;
  font-family: "Days One";
}

.head-section {
  text-align: center;
  line-height: 5px;
}

.about-me-section {
  text-align: center;
  margin: 100px 0 100px 0;
}

.title {
  text-align: center;
}

.tech-stack-lists {
  display: flex;
}

li {
  list-style-type: none;
  display: inline;
}

.tech-logo {
  width: 60px;
  margin: 0 10px 0 10px;
  filter: grayscale(100%);
}

#typescript-logo {
  width: 100px;
}

#dart-logo {
  width: 100px;
}

#hybris-logo {
  width: 115px;
}

#spring-logo {
  width: 115px;
}

#tech-info{
  display: block;
  border: black 1px solid;
  border-radius: 10%;
  padding: 15px;
}